# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Snapshots should not be ignored so they can be compared between developers, and CI
# also the snapshots itself contain some RTL properties, which are not relevant for us
#  "debug": [Function],
#  "findAllByAltText": [Function],
#  "findAllByDisplayValue": [Function],
#  "findAllByLabelText": [Function],
#  "findAllByPlaceholderText": [Function],
#  "findAllByRole": [Function],
#  "findAllByTestId": [Function],
#  "findAllByText": [Function],
#  "findAllByTitle": [Function],
#  "findByAltText": [Function],
#  "findByDisplayValue": [Function],
/src/__snapshots__
/src/views/Home/__snapshots__
/src/views/Site/__snapshots__
/src/views/LoggedUser/__snapshots__

# production
/build

# misc
/.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
