
.user-form {
  text-align: left;

  .form-group {
    margin-bottom: 0;
  }

  .form__label {
    font-size: 11px;
    color: #282c34;
  }
}

.hobbies-list {
  list-style-type: none;
  padding-inline-start: 0;

   &__element {
    display: inline-block;
    margin-right: 2em;
  }
}

.button--remove {
    position: relative;
    top: 10px;
    right: 0;
    background-color: red;
  }

